*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #000;
    color:#fff;
}

.heads{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url("header-image.png");
    background-size:cover;
    padding:10px 8%;


}

.navbar
{
    display: flex;   
    justify-content: space-between; 
    align-items: center;
    width:100%;
    height:70px;
  
}

.put
{
    display: flex;
    justify-content: center;
    align-items: center;
    height:60px;
    /* margin-right :300px; */
   
}

.put button{
    margin:0;
    outline:0;
    margin-left:10px;
    font-size:10px;
    
    color:white;
    border-radius: 6px;
    padding:7px 20px;

}
.btn-sig
{
    background-color: red;
    color:white;
}
.btn-lng{
    background: transparent;
    border:2px solid white;
}

.btn-lng img
{
    height: 8px;
    width:10px;
}

.logo{
      
      margin-left:60px;
      margin-top:30px;

      width:150px;
      height:50px;  

        

}


.header-contents
{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.header-contents h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    max-width: 650px;
    margin-left:110px;
}

.header-contents h3{
    font-weight: 400px;
    margin-bottom: 20px;
    margin-top:20px;
}


.sign-up
{
 padding:10px 20px;
  margin-top:20px;
  height:80px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.sign-up input
{
   border:2px solid white;
    width:300px;
    background:transparent;
   height: 100%;
    border-radius:5px;
    font-size: 15px;
    padding:10px;
   
}

.sign-up button{
    background-color: red;
    color: white;
    height:100%;
    font-size: 16px;
       border-radius:5px;
    padding:5px;
    border:none;
    width:200px;
    margin-left:10px;
    font-weight: 800;
   
}



.features
{
    padding:80px;
    margin-left:15px;

}

.items
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.req
{
    padding:40px;
    border-radius: 60px;
}

.num
{
    display: flex;
    gap:253px;
}

.gaps
{
    margin-left:130px;
}



.reasons{
   margin-top:40px;
}


.box
{
    height:280px;
    width:300px;
    background-image:url("images.jpg");
    background-size: cover;  
    margin-top:40px;
    margin-left:25px;
    border-radius: 40px;
}


.designs
{
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 15px;
    padding-right: 15px;
    font-size: 1.5rem;
}


.designs2{
    
    padding:0px 30px;
    font-weight: 10;
    color:rgb(145, 145, 158);
   
    }

.contents{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.faq{
    padding-top:50px;
}

.rect{
    margin-top:8px;
    height: 70px;
    width:90%;
    background-color: #3e3636;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.test{
    margin-bottom: 25px;
}
.des
{
        margin-left:20px;
        font-size: 25px;
        font-weight: 10;
}

.make
{
    padding-right:25px;
    font-size: 60px;
    font-weight: 10;
}

.rect:hover
{
    background-color:rgb(55, 55, 55);
}



.ready
{
            /* border:2px solid white; */
            margin-bottom: 5px;
            text-align: center;

}


.foots1
{
    
  padding:10px 20px;
  height:80px;
  display: flex;
  justify-content: center;
  
 
}

.foots1 input{
    padding:10px;
    border:2px solid white;
    width:450px;
    background: transparent;
    border-radius: 5px;
    width:40%;
}

.foots1 button{
    width:180px;
    margin-left: 20px;
    background-color: red;
    border:none;
    color:white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
}


.foots2
{
    margin-top:70px;
    margin-left:100px;
}

.foots2 a{
    color:white;
}


.foots3
{
    display: flex;
   margin-left:100px;
    margin-top:50px;
    gap:200px;
   
}

.foots33 ul
{
    list-style: none;
    color:white;
}

.foots33 a{
    color:white;
}

.foots33 li
{
    line-height: 2;
}

.lang{
        height: 100px;

}
.lang button
{
    
    margin-left: 100px;
    margin-top: 60px;
    padding:8px;
    width:130px;
    border-radius: 5px;
    background: transparent;
    color: white;
    border:2px solid white;
    font-size: 18px;
    font-weight: 600;
    
}

.lang img{
    margin-left: 8px;
    height:8px;
    width:8px;
}

.netflix
{
    margin-top:30px;
    margin-left: 100px;
    font-weight: 10;
    font-size: 13px;
    color:whitesmoke;
}


.page{
    margin-left:100px;
    margin-top:40px;
    margin-bottom: 150px;
    font-size: 13px;
}

.page a{
    color:blue;
}